.project-container {
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 300px;
    text-align: left;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

.project-container h3{
    color: var(--text-color-primary)
}


.project-container:hover {
    transform: scale(1.02);
    transition: 0.5s;
}

#texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#info {
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-top: 2px solid var(--color-link);
    border-radius: var(--border-radius);
}

#category {
    font-weight: 600;
    color: var(--text-color-terciary);
}

#tech-list {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
}




