.project-container {
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 300px;
    text-align: left;
    justify-content: center;
}

#texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#info {
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

#info::before {
    position: absolute;
    content: '';
    width: 50%;
    border-top: 3px solid green;
    border-radius: var(--border-radius-little);
}

#category {
    font-weight: 500;
}





