.project-container {
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 300px;
    text-align: left;
    justify-content: center;
}

#texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#info {
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-top: 2px solid green;
    border-radius: var(--border-radius);
}

#category {
    font-weight: 500;
}

#tech-list {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
}




