.menu-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

@media (max-width: 700px) {
  .menu-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    margin: 0 auto;
}
}

.menu {
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    padding: 10px 20px 10px 20px;
    border: none;

}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

  ul#menu-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style-type: none;
    gap: 20px;
    
  }

  #pic-icon {
    width: 40px;
    height: 40px;
    padding: 0px;
  }


#pic-icon img{
  width: 100%;
  height: 100%;
}
  
  
  