.container {
  display: flex;
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
  
  position: relative;
  /* background-color: green; */
}

#main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

#background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-color: var(--background-color);

    background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.2) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
    background-size: min(30px, 5vw) min(30px, 5vh);



    mask-image: linear-gradient(to bottom,  var(--background-color) 0%, rgba(0, 0, 0, 0) 60%);
    -webkit-mask-image: linear-gradient(to bottom, var(--background-color) 0%, rgba(0, 0, 0, 0) 60%);
}

#hero-shot {
  text-align: center;
  
}

#presentation {
  margin: 0 auto;
}
#presentation h2{
  font-size: 2em;
  font-weight: 400;
  color: var(--text-color-secondary)
}


#technologies {
  margin-top: 100px;
}

#tech-container{
  width: 80%;
  display: flex;
  height: 50vh;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
}

#memoji-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}



#memoji-placeholder {
  width: 130px;
  height: 130px;
}

.svg-container  {
  position: relative;
  width: 100%;
  display: flex;
}

#svg-left-container{
  width: 100%;
  height: 100%;
  background-color: green;
}

foreignObject {
  overflow: visible;
}

svg {
  overflow: visible;
}

.svg-container svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

@keyframes slideMaskLeft {
  from {
    x: -100%;
  }
  to {
    x: 100%;
  }
}


.mask-rect-left {
    animation: slideMaskLeft 3s ease infinite;
}

@keyframes slideMaskRight {
  from {
    x: 100%;
  }
  to {
    x: -100%;
  }
}

.mask-rect-right {
  animation: slideMaskRight 3s ease infinite;
}

#techs {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

#my-projects {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

#projects-container  {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  align-items: flex-start
}


#teste {
  background-color: rgb(0, 102, 255);
  width: 4000px;
  height: 2000px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

#footer-container {
  margin: 0 auto;
}

