:root {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-shadow: none;

  /*Cores*/
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --text-color: #333;
  --background-color: #F2F2F2;
  --shadow-color: rgb(170, 170, 170);

  --border-radius: 5px;

  --font-size-h1: 2.5em;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 0px;
  margin: 0px;
}