:root {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-shadow: none;

  /*Cores*/
  --primary-color: #3498db;
  --secondary-color: #2ecc71;


  --background-color: #F2F2F2;
  --shadow-color: #cecece;

  --border-radius: 5px;
  --border-radius-little: 10px;
  --border-color: #cecece;

  --font-size-h1: 2.5em;
  --font-size-h2: 1.3em;
  --font-size-h3: 1.5em;
  --font-size-p: 1em;
  --font-size-tech: 1.2em;
  --font-size-li: 1em;
  --font-size-icon: 2em;
  --font-size-icon-tech: 1.5em;

  --text-color-primary: #080808;
  --text-color-secondary: #3d3d3d;
  --color-link: #007dc5;
  --color-link-hover: #005e94;

  
}


* {
  margin: 0px;
  padding: 0px;
  
}

body {
  padding: 0px;
  margin: 0px;
  background-color: var(--background-color);
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1 {
  font-weight: 900;
  font-size: var(--font-size-h1);
  color: var(--text-color);

}

h2 {
  font-weight: 350;
  font-size: var(--font-size-h2);
  color: var(--text-color);

}

h3 {
  font-weight: 600;
  font-size: var(--font-size-h3);
  color: var(--text-color);
}


p {
  font-weight: 300;
  font-size: var(--font-size-p);
  color: var(--text-color-secondary);
}

li {
  font-weight: 400;
  font-size: var(--font-size-li);
  color: var(--text-color-secondary);
}